<mat-grid-list cols="1" rowHeight="40%">
  <mat-grid-tile *ngFor="let project of projectData" colspan="1">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="name" (click)="openPopup(gamePopup)">{{ project.name }}</mat-card-title>
        <mat-card-subtitle class="status">{{project.status}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="{{project.image}}" class="proj-image" />
      </mat-card-content>
      <mat-card-content class="description">
        {{ project.info }}
      </mat-card-content>
      <mat-card-actions>
        <mat-chip-list class="footer">
          <mat-chip (click)="goToCode(project.repo)" class="code">code</mat-chip>
          <mat-chip *ngFor="let code of project.code" class="chip"> {{ code }}</mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #gamePopup>
  test
</ng-template>