<mat-grid-list cols="1" rowHeight="fit" class="home">
  <mat-grid-tile>
    <img [src]="homeImage" class="homeImage" (click)="mouseOver($event)" />
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="btn-group" role="group">
      <button mat-flat-button class="navBtns" *ngIf="isHomeHover">HOME</button>
      <button mat-flat-button class="navBtns" *ngIf="isHomeHover">ABOUT</button>
      <button mat-flat-button class="navBtns" *ngIf="isHomeHover">
        PROJECTS
      </button>
      <button mat-flat-button class="navBtns" *ngIf="isHomeHover">LINKS</button>
    </div>
    <div class="copyright">
      &copy; 2020 Tuyet Le
    </div>
  </mat-grid-tile>
</mat-grid-list>
