<mat-grid-list cols="1" rowHeight="fit" class="home">
  <mat-grid-tile>
    <img [src]="homeImage" class="homeImage" (click)="mouseOver($event)" />
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="btn-group" role="group">
      <button mat-flat-button class="navBtns" *ngIf="isHomeHover" (click)="navigateTo('home')">HOME</button>
      <button mat-flat-button class="navBtns" *ngIf="isHomeHover" (click)="navigateTo('about')">ABOUT</button>
      <button mat-flat-button class="navBtns" *ngIf="isHomeHover" (click)="navigateTo('projects')">
        PROJECTS
      </button>
      <button mat-flat-button class="navBtns" *ngIf="isHomeHover" (click)="navigateTo('links')">LINKS</button>
    </div>
    <div class="copyright">
      &copy; 2020 Tuyet Le
    </div>
  </mat-grid-tile>
</mat-grid-list>
