.home {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  min-height: 500px;
}

.home-image {
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 0px;
}

.home-image:hover {
  cursor: pointer;
}

.nav-btns {
  background-color: #6ed3cf;
  color: #ffffff;
  margin: 5px;
}

.nav-btns:hover {
  background-color: #f1556e;
}

.btn-group {
  position: absolute;
  top: 0px;
}

.about{
  font-size: 16px;
  color: #ffffff;
}

.highlight{
  color: #c25a80;
}

.copyright {
  position: absolute;
  bottom: 30px;
  color: #ffffff;
}
